<header>
    <nav>
        <div class="logo">
            <h2>Talita Cristina</h2>
        </div>
        <ul class="menu">
            <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Sobre</a></li>
            <li><a routerLink="/projetos" routerLinkActive="active">Projetos</a></li>
            <li><a routerLink="/habilidades" routerLinkActive="active">Habilidades</a></li>
            <li><a routerLink="/contato" routerLinkActive="active">Contato</a></li>
        </ul>
    </nav>
</header>