<section class="sobre">
    <div class="container">
        <div class="conteudo">
            <div class="texto">
                <h1>Olá, eu sou <span class="destaque">Talita</span></h1>
                <h2>Desenvolvedora Back-end</h2>
                <p>
                    Gosto muito de aprender e desenvolver novos projetos.
                    Estudo back-end, gosto muito da linguagem python e outras ferramentas modernas 
                    para criar aplicações !
                </p>
                <div class="botoes">
                    <button class="bnt-primario" routerLink="/projetos">Ver Projetos</button>
                    <button class="bnt-secundario" routerLink="/contato">Entrar em Contato</button>
                </div>
            </div>
            <div class="imagem">
                <div class="foto-placeholder">
                    <p>foto teste</p>
                </div>
            </div>
        </div>
    </div>

</section>