<section class="sobre">
    <div class="container">
        <div class="conteudo">
            <div class="texto">
                <h1>Olá, eu sou <span class="destaque">Talita</span></h1>
                <h2>Desenvolvedora Back-end</h2>
                <p>
                    Gosto muito de aprender e desenvolver novos projetos.
                    Estudo back-end, gosto muito da linguagem Python e outras ferramentas modernas 
                    para criar aplicações!
                </p>
                <div class="botoes">
                    <button class="btn-primario" routerLink="/projetos">Ver Projetos</button>
                    <button class="btn-secundario" routerLink="/contato">Entrar em Contato</button>
                </div>
            </div>
            <div class="imagem">
                <img src="assets/images/foto.jpg" alt="img">
            </div>
        </div>
    </div>
</section>